*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bg-color: #f3efec;
  --text-color: rgba(49, 42, 78, 1);
  --accent-color: rgba(255, 171, 107, 1);
  --main-font: Raleway;
  --accent-font: STIXTwoText;
}

.page {
  min-inline-size: 360px;
  margin: 0;
  font-family: var(--main-font), sans-serif;
  color: var(--text-color);
  background-color: var(--bg-color);
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

.header {
  padding-top: 10%;
}

.heading {
  color: var(--text-color);
  font-family: var(--accent-font), serif;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  line-height: 90%; /* 108px */
}

.header__title {
  font-size: clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem);
  padding-bottom: 40px;
}

.content__title {
  padding-top: 7%;
  padding-bottom: 2.5%;
  font-size: 30px;
}

.content-section {
  padding-left: 5vi;
  padding-right: 5vi;
}

.content-section .content__paragraph:not(:last-child) {
  padding-bottom: 1.5em;
}

a {
  color: inherit;
}

.content__blockquote {
  color: #312a4e;
  font-family: Raleway;

  padding-bottom: 1.5em;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 200%;
  display: flex;
  justify-content: center; /* 36px */
}

.content__blockquote-text {
  position: relative;
  display: block;
  width: 75%;
}

.content__list {
  list-style-type: none;
  padding-inline-start: 40px;
  position: relative;
}

.content__list li:not(:last-child) {
  padding-bottom: 10px;
}

li::before {
  content: "";
  background: url(/images/marker-light.svg);
  width: 15px;
  height: 15px;
  position: absolute;
  left: 10px;
}

.content__text-block_type_first-lettered
  .content__paragraph:first-of-type::first-letter {
  background-color: var(--accent-color);
  font-size: 30px;
  font-weight: 700;
  padding: 0px 4px;
  margin-right: 3px;
}

.content__figure {
  margin-top: 7%;
  margin-bottom: 7%;
  width: calc(100%);
}

.content__picture {
  width: 100%;
}

.content__picture-caption {
  text-align: center;
  padding: 20px 0px;
  border-bottom: 1px solid currentColor;
}

.content__card {
  margin-top: 7%;
  border: 1px solid currentColor;
  --aspect-ratio: 4/3;
  height: calc(100% / var(--aspect-ratio));
  object-fit: cover;
  padding: 30% 0;
}

.content__card-title {
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 90%;
  position: relative;
}

.content__card-subtitle {
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.colored-text {
  position: relative;
}

.colored-text::after {
  content: "";
  background-color: var(--accent-color);
  position: absolute;
  height: 0.5em;
  width: 100%;
  right: -1%;
  z-index: -1;
  top: 0.5em;
}

.header__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid #312a4e;
  border-bottom: 1px solid #312a4e;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header__logo {
}

.header__theme-toggler {
  display: flex;
  list-style-type: none;
  padding-inline-start: 40px;
  position: relative;
  gap: 20px;
}

.header__theme-button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 104%;
}

.header__theme-button:hover{
  border-bottom: 1px solid currentColor;
}

.header__theme-button:focus-visible{
  border: 1px solid currentColor;
}

.header__theme-button_type_dark {
}

.header__theme-button_type_light {
}

.header__theme-button_is-active {
  font-weight: 700;
  position: relative;
  pointer-events: none;
}

.header__theme-button_is-active::after{
  content: "";
  background-color: var(--accent-color);
  position: absolute;
  height: 0.5em;
  width: 100%;
  right: -1%;
  z-index: -1;
  top: 0.5em;
}

