*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bg-color: #f3f3f3;
  --text-color: #312a4e;
  --accent-color: #ffab6b;
  --main-font: Raleway;
  --accent-font: STIXTwoText;
}

.theme_dark {
  --bg-color: #171717;
  --text-color: #b3b3b3;
  --accent-color: transparent;
}

.page {
  min-inline-size: 360px;
  margin: 0;
  font-family: var(--main-font), sans-serif;
  color: var(--text-color);
  background-color: var(--bg-color);
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

a:focus,
button:focus {
  outline: none;
}

a:focus-visible,
button:focus-visible {
  outline: 1px solid currentColor;
}

.header {
  padding-top: 10%;
}

.heading {
  color: var(--text-color);
  font-family: var(--accent-font), serif;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  line-height: 90%; /* 108px */
}

.header__title {
  font-size: clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem);
  padding-bottom: 40px;
}

.content__title {
  padding-top: 7%;
  padding-bottom: 2.5%;
  font-size: 30px;
}

.content-section {
  padding-left: 5vi;
  padding-right: 5vi;
}

.content-section .content__paragraph:not(:last-child) {
  padding-bottom: 1.5em;
}

.content__text-block a {
  color: inherit;
}

.content__blockquote {
  color: var(--text-color);
  font-family: Raleway;

  padding-bottom: 1.5em;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 200%;
  display: flex;
  justify-content: center; /* 36px */
}

.content__blockquote-text {
  position: relative;
  display: block;
  width: 75%;
  color: currentColor;
}

.content__list {
  list-style-type: none;
  padding-inline-start: 40px;
  position: relative;
}

.content__list li:not(:last-child) {
  padding-bottom: 10px;
}

li::before {
  content: "";
  background: url(/images/marker-light.svg);
  width: 15px;
  height: 15px;
  position: absolute;
  left: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.theme_dark li::before {
  content: "";
  background: url(/images/marker-dark.svg);
  width: 15px;
  height: 15px;
  position: absolute;
  left: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.content__text-block_type_first-lettered
  .content__paragraph:first-of-type::first-letter {
  background-color: var(--accent-color);
  display: inline-block;
  font-size: 30px;
  font-weight: 700;
  padding: 0px 4px;
  margin-right: 3px;
}

.theme_dark
  .content__text-block_type_first-lettered
  .content__paragraph:first-of-type::first-letter {
  background-image: url(/images/pattern.svg);
  border: 1px solid currentColor;
  font-size: 30px;
  font-weight: 700;
  padding: 0px 4px;
  margin-right: 3px;
}

.content__figure {
  position: relative;
  margin: 7% auto;
  inline-size: calc(100% + 10vi);
  inset-inline-end: 5vi;
}

.content__picture {
  width: 100%;
}

.content__picture-caption {
  text-align: center;
  padding: 20px 0px;
  border-bottom: 1px solid currentColor;
}

.content__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block-start: 7%;
  border: 1px solid currentColor;
  aspect-ratio: 4/3;
}

.content__card-title {
  font-size: 60px;
}

.content__card-subtitle {
  font-size: 18px;
}

.colored-text {
  position: relative;
  display: inline-block;
}

.colored-text::after {
  content: "";
  background-color: var(--accent-color);
  position: absolute;
  inline-size: calc(100% + 8px);
  block-size: 0.5ch;
  inset-block-end: 0.3ch;
  inset-inline-start: -4px;
  z-index: -1;
}

.theme_dark .colored-text::after {
  content: "";
  background-image: url(/images/pattern.svg);
  position: absolute;
  inline-size: calc(100% + 8px);
  block-size: 0.5ch;
  inset-block-end: 0.3ch;
  inset-inline-start: -4px;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--text-color);
  border-bottom: 1px solid var(--text-color);
  padding-top: 20px;
  padding-bottom: 20px;
}

.header__logo {
}

.header__theme-toggler {
  display: flex;
  list-style-type: none;
  padding-inline-start: 40px;
  position: relative;
  gap: 20px;
}

.header__theme-button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 104%;
}

.header__theme-button:hover {
  text-decoration: underline;
}

.header__theme-button:focus {
  border: none;
}

.header__theme-button:focus-visible {
  border: 1px solid white;
}

.header__theme-button_type_dark {
}

.header__theme-button_type_light {
}

.header__theme-button_is-active {
  font-weight: 700;
  position: relative;
  pointer-events: none;
}

.header__theme-button_is-active::after {
  content: "";
  background-color: var(--accent-color);
  position: absolute;
  inline-size: calc(100% + 8px);
  block-size: 0.5ch;
  inset-block-end: 0.3ch;
  inset-inline-start: -4px;
  z-index: -1;
}

.theme_dark .header__theme-button_is-active::after {
  content: "";
  background-image: url(/images/pattern.svg);
  position: absolute;
  inline-size: calc(100% + 8px);
  block-size: 0.5ch;
  inset-block-end: 0.3ch;
  inset-inline-start: -4px;
  z-index: -1;
}

.footer {
  margin-top: 10%;
  padding: 2.5%;
  border-top: 1px solid currentColor;
  text-align: center;
}

.footer__copyright {
  font-size: 18px;
}
